.addSuper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 15rem;
  margin-top: 10px;
}

.supers {
  padding: 4rem 10rem;
}

.autocomplotar {
  display: flex;
  justify-content: center;
}
