.addSuper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 15rem;
  margin-top: 10px;
}

.filter {
  margin: 10px;
  width: 500px;
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
}

.supers {
  padding: 4rem 10rem;
}

.autocompletar {
  display: flex;
  justify-content: center;
}
