<div class="table">
  @if(dataSource && dataSource.length > 0){
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="alias">
      <mat-header-cell *matHeaderCellDef> Alias </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.nickName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="power">
      <mat-header-cell *matHeaderCellDef> Power </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.power }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          matTooltip="Modificar"
          (click)="updateSuperHero(element)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Eliminar"
          (click)="deletaSuperHero(element)"
        >
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  }
</div>
